import React from 'react'

const {{componentName}} = ({ className = '' }) => {
	return (
		<div className={className}>
			<h3 className='h3'>{{componentName}}</h3>
		</div>
	)
}

export default {{componentName}}
