.slider-input {
  --handle-size: 14px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Full-width */
  height: 4px; /* Specified height */
  background: var(--card-border-color); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 3px;
}

/* Mouse-over effects */
.slider-input:hover {
  --handle-size: 24px;
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(--handle-size); /* Set a specific slider handle width */
  height: var(--handle-size); /* Slider handle height */
  background: var(--card-focus-ring-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  transition: width .2s ease-in-out, height .2s ease-in-out;
}

.slider-input::-moz-range-thumb {
  width: var(--handle-size); /* Set a specific slider handle width */
  height: var(--handle-size); /* Slider handle height */
  background: var(--card-focus-ring-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  transition: width .2s ease-in-out, height .2s ease-in-out;
}