@font-face {
  font-family: 'Basis Grotesque';
  src:  url('../assets/fonts/basis/BasisGrotesquePro-Light.woff') format('woff'),
        url('../assets/fonts/basis/BasisGrotesquePro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet Sans';
  src:  url('../assets/fonts/sweet-sans/SweetSans-Regular.woff') format('woff'),
        url('../assets/fonts/sweet-sans/SweetSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight';
  src:  url('../assets/fonts/freight/FreightDisplay-Light.woff') format('woff'),
        url('../assets/fonts/freight/FreightDisplay-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}