@font-face {
  font-family: 'Basis Grotesque';
  src:  url('../assets/fonts/basis/BasisGrotesquePro-Light.woff') format('woff'),
        url('../assets/fonts/basis/BasisGrotesquePro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}