@font-face {
  font-family: 'Souvenir';
  src:  url('../assets/fonts/souvenir/SouvenirStd-Light.woff') format('woff'),
        url('../assets/fonts/souvenir/SouvenirStd-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brown';
  src:  url('../assets/fonts/brown/brown-regular.woff') format('woff'),
        url('../assets/fonts/brown/brown-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brown';
  src:  url('../assets/fonts/brown/brown-bold.woff') format('woff'),
        url('../assets/fonts/brown/brown-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}