@keyframes linear-loader {
  0%, 100% { transform: translate3d(-30%, 0, 0) scaleX(1); }
  25% { transform: translate3d(200%, 0, 0) scaleX(3); }
  50% { transform: translate3d(300%, 0, 0) scaleX(1); }
  75% { transform: translate3d(100%, 0, 0) scaleX(3); }
}

.linear-loader {
  width: 100%;
  height: 4px;
  &:after {
    content: '';
    display: block;
    width: 25%;
    height: 100%;
    background: currentColor;
    animation: linear-loader 3s ease-in-out infinite;
  }
}