div[data-ui="NextStudioLayout"] {
  fieldset [data-ui='Box'] legend [data-ui='Text'] > span {
    font-size: 1.25rem;
    font-weight: bold;
    /* margin: 1em 0 0.1em; */
  }

  [data-ui='Box'] [data-testid] > [data-ui='Grid'],
  fieldset [data-ui='Box'] > [data-ui='Grid'] {
    row-gap: 1rem;
  }

  fieldset[data-level='1'] > [data-ui='Box'] {
    border: none;
    padding-left: 0;
  }

  fieldset[data-level='1'] > [data-ui='Flex']:first-of-type [data-ui='Box']:first-of-type legend [data-ui='Text'] > span {
    font-size: 1.25rem;
    font-weight: bold;
    /*margin: 1em 0 0.1em;*/
  }

  .section-icon svg {
    color: inherit !important;
  }

  .theme-default {
    background-color: var(--bg-color);
  }

  .sanity-pte {
    strong, b {
      font-weight: var(--bold) !important;
    }
  }

  .sanity-pte {
    ::selection {
      color: var(--bg-color);
      background: var(--main-color);
    }
    strong, b {
      font-weight: var(--bold) !important;
    }
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5 {
      --desktop-font-size: var(--mobile-font-size);
    }
  }

}