div[data-ui="NextStudioLayout"] {
  fieldset [data-ui='Box'] legend [data-ui='Text'] > span {
    font-size: 1.25rem;
    font-weight: bold;
    /* margin: 1em 0 0.1em; */
  }

  [data-ui='Box'] [data-testid] > [data-ui='Grid'],
  fieldset [data-ui='Box'] > [data-ui='Grid'] {
    row-gap: 1rem;
  }

  fieldset[data-level='1'] > [data-ui='Box'] {
    border: none;
    padding-left: 0;
  }

  fieldset[data-level='1'] > [data-ui='Flex']:first-of-type [data-ui='Box']:first-of-type legend [data-ui='Text'] > span {
    font-size: 1.25rem;
    font-weight: bold;
    /*margin: 1em 0 0.1em;*/
  }

  .section-icon svg {
    color: inherit !important;
  }

  .theme-default {
    background-color: var(--bg-color);
  }

  .sanity-pte {
    strong, b {
      font-weight: var(--bold) !important;
    }
  }

  .sanity-pte {
    ::selection {
      color: var(--bg-color);
      background: var(--main-color);
    }
    strong, b {
      font-weight: var(--bold) !important;
    }
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5 {
      --desktop-font-size: var(--mobile-font-size);
    }
  }

  .media-stack-icon {
    + span[data-border] {
      display: none !important;
    }
    .image-item {
      position: absolute;
      width: 24px !important;
      height: 24px !important;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: #fff;
        // opacity: var(--overlay-opacity, 0);
      }
      img {
        width: 24px !important;
        height: 24px !important;
        object-fit: cover;
      }
      &:first-of-type {
        top: 0 !important;
        left: 0 !important;
        z-index: 3;
      }
      &:nth-of-type(2) {
        top: 4px !important;
        left: 4px !important;
        z-index: 2;
        --overlay-opacity: .3;
      }
      &:nth-of-type(3) {
        --overlay-opacity: .6;
      }
      &:last-of-type {
        top: 8px !important;
        left: 8px !important;
        z-index: 1;
      }
    }
  }

}