.scroll-entrance > * {
  --timing: cubic-bezier(0.44, 0.24, 0.16, 1.00);
  --transform: translate3d(0, 50px, 0);
  --speed: 1000ms;
  --delay: calc(var(--speed) * .05);
  --added-delay: calc(var(--delay) * var(--delay-value));
  will-change: transform, opacity;
  transform: var(--transform);
  opacity: 0;
  transition: opacity var(--speed) var(--timing),
              transform var(--speed) var(--timing);
}

.scroll-entrance[data-in-view = 'true'] > * {
  transform: none;
  opacity: 1;
  @for $i from 1 through 50 {
    &:nth-child(3n + #{$i}) {
      transition-delay: calc((var(--delay) * ($i - 1)) + var(--added-delay));
    }
  }
}