:root {
  /* Grid */
	--site-gutters: 22px;
	--site-margins: 22px;
  --vertical-spacing: clamp(calc(70 * 1px), calc((120 * 1vw) / 1366 * 100), calc(140 * 1px));
	--vertical-spacing-small: clamp(calc(40 * 1px), calc((50 * 1vw) / 1366 * 100), calc(60 * 1px));
	/* Brand Colors */
	--dark-color: #1b1b1b;
	--light-color: #fff;
  /* Base Colors */
  --bg-color: #1b1b1b;
  --text-color: #fff;
  --main-color: #fff;
  --light-text-color: rgba(255, 255, 255, .5);
	--light-grey: #333333;
  --hr-color: rgba(255, 255, 255, .2);
	--error: red;
	--success: green;
	--notify: yellow;
  /* Typography */
	--main-font: 'Basis Grotesque', sans-serif;
	--secondary-font: 'Sweet Sans', sans-serif;
	--tertiary-font: 'Freight', serif;
	--mono-font: monospace;
	--normal: normal;
	--light: 300;
	--medium: 600;
	--bold: 700;
	/* Transition Speeds */
	--md-speed: .3s;
	--fast-speed: .15s;
	--slow-speed: .6s;
	--stagger-time: .05s;
	/* UI Sizes */
	--vh: 1vh;
	--site-max-width: 100%;
	--narrow-width: 800px;
	--screen-height: calc(var(--1vh) * 100);
	--button-height: 42px;
	--base-border-radius: 10px;
	--button-border-radius: var(--base-border-radius);
	--header-banner-height: 0px;
	--header-height: 60px;
	--header-height-expanded: 110px;
	--full-header-height: calc(var(--header-height-expanded) + var(--header-banner-height));
	--sticky-top: calc(var(--site-gutters) + var(--header-height));
}

@media screen and (max-width: 800px) {
	:root {
		// --site-margins: 16px;
		// --site-gutters: 16px;
	}
}

/* COLOR THEMES */
*[class*="theme-"] {
  color: var(--text-color);
	background: var(--bg-color);
}

.theme-default {
  /* color: var(--text-color); */
  background: transparent; 
}

.theme-light-grey {
  --bg-color: var(--light-grey);
}

.theme-dark {
	--bg-color: var(--dark-color);
  --text-color: var(--light-color);
}