.video-wrapper {
  width: 100%;
  min-width: 100% !important;
  position: relative;
  > div:not(.preload) {
    width: 100% !important;
    height: auto !important;
  }
  &.cover {
    height: 100% !important;
    min-height: 100% !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    > div {
      width: 100% !important;
      height: 100% !important;
      video {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }
    }
    &.landscape:not(.mp4) {
      > div {
        aspect-ratio: var(--ratio);
        width: 100% !important;
        height: unset !important;
      }
    }
    &.portrait:not(.mp4) {
      > div {
        aspect-ratio: var(--ratio);
        height: 100% !important;
        width: unset !important;
      }
    }
  }
}

